<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Book</h1>
<div class="col-6 offset-3">    
    <form action="/books" method="POST" novalidate class="form" enctype="multipart/form-data">
    <div class="md-3">
     <label for="name" class="form-label">Name:</label>
     <input  class="form-control"   type="text" name="book[name]" id="name"required>
     <div class="valid-feedback">looks good!</div>
     </div>
     <div class="md-3">
     <label for="author" class="form-label">Author:</label>
     <input class="form-control"type="text" name="book[author]" id="author" required>
     <div class="valid-feedback">looks good!</div>
     </div>
     
     <div class="md-3">
         <label for="image"class="form-label">Image URL:</label>
         <input class="form-control" type="text" name="book[image]" id="image"required>
         <div class="valid-feedback">looks good!</div>
         </div>

     <div class="md-3">
     <label for="price"class="form-label">Price:</label>
     <input class="form-control" type="number" name="book[price]" id="price"required>
     <div class="valid-feedback">looks good!</div>
     </div>
      <div class="md-3">
    <label for="instock"class="form-label">In Stock:</label>
    <input class="form-control" type="number" id="instock" name="book[instock]"required>
    <div class="valid-feedback">looks good!</div>
    </div>
   
     <div class="md-3">
     <label for="about"class="form-label">About:</label>
     <textarea class="form-control" name="book[about]" id="about" cols="30" rows="10" required></textarea>
     <div class="valid-feedback">looks good!</div>
     <br>
     <div class="md-3"><button class="btn btn-success">New book</button></div>
     <br>
</div>
</form> 
 

